<link th:fragment="style" th:href="@{/css/slick.css}" rel="stylesheet"/>
<link th:fragment="style" th:href="@{/css/slick-theme.css}" rel="stylesheet"/>
<link th:fragment="style" th:href="@{/css/fonts.css}" rel="stylesheet"/>
<link th:fragment="style" th:href="@{/css/product-card.css}" rel="stylesheet"/>
<link th:fragment="style" th:href="@{/css/header.css}" rel="stylesheet"/>
<link th:fragment="style" th:href="@{/css/main.css}" rel="stylesheet"/>
<link th:fragment="style" th:href="@{/css/product-page.css}" rel="stylesheet"/>
<link th:fragment="style" th:href="@{/css/auth.css}" rel="stylesheet"/>
<link th:fragment="style" th:href="@{/css/account.css}" rel="stylesheet"/>

